body > h1 {
  text-align: center;
  margin-top: 20px;
  color: darkolivegreen;
}

body > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}

body > div > section.section-left > h2 {
  margin-top: 20px;
}

body > div > section.section-left > div.div_image {
  margin-bottom: 20px;
  text-align: center;
}

body > div > section.section-left > form > div.mb-3 {
  padding-bottom: 6px;
}

body > div > section.section-left > form > div.input-group > label {
  padding-right: 20px;
}

body > div > section.section-left > form > div.div_button {
  text-align: center;
}

body > div > section.section-right > h2 {
  margin-top: 40px;
}

@media (max-width: 768px) {
  body > div {
    flex-direction: column; /* Cambiar a dirección de columna */
    align-items: stretch; /* Ajustar alineación a estirar los elementos */
  }
}